 .u-section-1 {
  background-image: url("images/_f4e71fba-945f-4c07-86e5-9a06021589e9.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 167px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 22px 400px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 67px;
  min-height: 16px;
  width: 165px;
  min-width: 62px;
  margin: 450px auto 13px -100px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 200px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    width: 164px;
    margin-top: 432px;
    margin-bottom: 31px;
    margin-left: -37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-social-icons-1 {
    width: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 125px;
    margin-right: -84px;
    margin-left: -38px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 97px;
    margin-right: -12px;
    margin-left: -38px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 164px;
    margin-top: 464px;
    margin-left: -31px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1148px;
}

.u-section-2 .u-text-1 {
  margin: 60px 347px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 602px 0 0;
}

.u-section-2 .u-image-1 {
  width: 371px;
  height: 371px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  height: 371px;
  width: 371px;
  margin: -371px auto 0 371px;
}

.u-section-2 .u-text-3 {
  margin: 127px 604px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 381px;
  width: 381px;
  margin: 31px auto 31px 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
  background-image: none;
  padding: 8px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 147px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 402px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 182px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 147px;
    margin-right: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 2px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -44px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 340px;
    margin-top: 7px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}