 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1099px;
  margin: 110px 0 20px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 461px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 30px 0;
}

.u-section-1 .u-form-1 {
  height: 380px;
  width: 795px;
  margin: 75px 0 -24px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-1 .u-form-1 {
    width: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 457px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}